/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/* VARIABLES CSS */
:root {
    /* Colors */
    --body-color: #fcfcfc;
    --container-color: #fff;
    --title-color: #000;
    --text-color-dark: #323743;
    --text-color-light: #67707B;
    --border-color: #F3F4F6;
    --yellow: #F0CA4D;
    --red: #FF445C;

    /* Font and typography */
    --body-font: 'Fira Code', monospace;

    /* .5rem = 8px | 1rem = 16px ... */
    --bigger-font-size: 7rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;

    /* Font weight */
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* Margin */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
    :root {
        --big-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #F0CA4D;
    color: #323743;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--border-color); 
}

::-webkit-scrollbar-thumb {
    background: var(--yellow); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--yellow);
}

html {
    scroll-behavior: smooth;
    cursor: crosshair;
}

body {
    background-color: var(--body-color);
    color: var(--text-color-light);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
}

h1,
h2,
h3 {
    color: var(--title-color);
}

h1 {
    font-weight: var(--font-bold);
}

h2,
h3 {
    font-weight: var(--font-semibold);
}

strong {
    font-weight: var(--font-bold);
    color: var(--title-color);
}

.note {
    font-weight: var(--font-light);
}

.yellow-bg {
    background-color: var(--yellow);
    width: max-content;
}

button {
    font-weight: var(--font-medium);
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: crosshair;
}

.disabled-link {
    color: var(--text-color-light)!important;
    cursor: not-allowed;
    text-decoration: none;
    opacity: 0.5;
}

.disabled-link:hover {
    color: var(--text-color-light)!important;
}

img {
    max-width: 100%;
    height: auto;
}

/* LAYOUT */
.container-fluid {
    width: 95%;
}

.starter-margin {
    margin-top: 120px;
}

.finish-margin {
    margin-top: 25px;
}

.spacer {
    visibility: hidden;
    margin-bottom: 150px;
}

/* NAVIGATION */
/* Add shadow */
.add-shadow {
    transition: .5s;
    box-shadow: rgba(50, 55, 67, 0.1) 1px 3px 3px 1px;
}

.navbar-type {
    background-color: var(--body-color);
    color: var(--text-color-light);
    font-size: 1.1rem;
    font-weight: var(--font-semibold);
}

.navbar {
    margin-top: 1rem;
}

.navbar-brand {
    font-weight: var(--font-bold);
}

.navbar .active {
    color: var(--text-color-dark);
}

.navbar .nav-item:hover {
    color: var(--text-color-dark);
}

/* FOOTER */
.footer-type {
    background-color: var(--body-color);
    color: var(--text-color-dark);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-light);
    padding-top: var(--mb-1);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-1);
}

.footer__social-link {
    background-color: var(--text-color-dark);
    color: var(--body-color);
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0;
    display: inline-flex;
}

.footer__social-link:hover {
    color: var(--container-color);
    transition: .5s;
}

/* BUTTONS */
.button {
    display: inline-block;
    background-color: var(--text-color-dark);
    color: var(--body-color);
    padding: 1.25rem 2rem;
    border-radius: 0;
    font-weight: var(--font-medium);
    border: none;
    outline: none;
    cursor: crosshair;
}

.button:hover {
    transition: .3s;
    transform: translateY(-0.3rem);
    color: var(--container-color);
}

.button__icon {
    margin-left: var(--mb-0-5);
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

/* BORDERS */
.border-right__dotted {
    background-image: linear-gradient(to bottom, #323743 10%, rgba(103, 112, 123, 0) 0%);
    background-position: right;
    background-size: 1px 6px;
    background-repeat: repeat-y;
}

.border-left__dotted {
    background-image: linear-gradient(to bottom, #323743 10%, rgba(103, 112, 123, 0) 0%);
    background-position: left;
    background-size: 1px 6px;
    background-repeat: repeat-y;
}

.border-top__dotted {
    background-image: linear-gradient(to right, #323743 10%, rgba(103, 112, 123, 0) 0%);
    background-position: top;
    background-size: 6px 1px;
    background-repeat: repeat-x;
}

.border-bottom__dotted {
    background-image: linear-gradient(to right, #323743 10%, rgba(103, 112, 123, 0) 0%);
    background-position: bottom;
    background-size: 6px 1px;
    background-repeat: repeat-x;
}

hr {
    border-top: 1px dashed #323743;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* BREAKPOINTS */
/* for large devices */
@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .navbar-type {
        font-size: 1rem;
    }
}

/* for medium devices */
@media screen and (max-width: 768px) {
    .border-none-md {
        background-image: none;
    }
}

@media screen and (max-width: 576px) {
    .starter-margin {
        margin-top: 40px;
    }

    .navbar-type {
        font-size: 0.9rem;
    }

    .border-none-md-2 {
        background-image: none;
    }

    .d-none_576 {
        display: none;
    }
}

/* for small devices */
@media screen and (max-width: 480px) {
    .border-none-sm {
        background-image: none;
    }
}

@media screen and (max-width: 375px) {
    .navbar-brand {
        font-size: var(--normal-font-size);
    }

    .navbar-type {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 350px) {
    .starter-margin {
        margin-top: 50px;
    }
}

@media screen and (max-width: 276px) {
    .navbar-brand {
        font-size: var(--small-font-size);
    }

    .navbar-type {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 250px) {
    .navbar-brand {
        font-size: var(--small-font-size);
    }

    .navbar-type {
        font-size: 0.6rem;
    }
}